.book-row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .book-card {
    border: 2px solid #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 320px;
    margin: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
  }

  .book-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .book-header {
    background-color: #ff4d00!important ;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
  }

  .card-body {
    background-color: #f5f5f5;
    color: #333;
    height: 180px;
    overflow: hidden;
    padding: 10px;
    transition: all 0.3s ease;
  }

  .card-body-hover {
    background-color: #f5f5f5;
    color: #333;
    height: 320px;
    overflow-y: auto;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.3s ease;
  }

  .book-card:hover .card-body {
    transform: translateY(-100%);
  }

  .book-card:hover .card-body-hover {
    transform: translateY(0%);
  }

  .card-text {
    margin-bottom: 10px;
  }
