@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

body {
  background: #F6F6E9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #d1e0f4;
}

.welcome h1{
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3, label{
  color: #F6F6E9;
}
form h3{
  padding-top: 55px;
}

body,
html,
.App,
#root,
.auth-wrapper, .auth-inner {
  width: 100%;
  height: 100%;
}




.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-top: 50px;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #0443A5;
  box-shadow: 0px 14px 80px #F6F6E9;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  transform: translate(-50%); 
  
}
.welcome{
  margin: auto;
  /* margin-top: 45px; */
  transition: all .3s;
  /* transform: translate(70% -50%); */
  transform:translate(100%, -150%) scale(1.5);

  

}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 10px;
}

.custom-control-label {
  font-weight: 400;
}
form{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #f0eaea;
  margin: 0;
}

.got-password{
  text-decoration: none;
  color:#F6F6E9;
}

img{
  width: 200px;
  margin-left: 45px;
  margin-bottom: 20px;
}

.welcome p{
  color: #167bff;
  font-size: 20px;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
